html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.flip-up{
  background: linear-gradient(47deg, #B91BCC, #8A2AEC);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.flip-out{
  background: #1A1A1A;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}